<% drinks.each do |drink| %>
  <% display_hash = drink.attributes.except('id', 'image', 'name', 'created_at', 'updated_at', 'ingredient_id_array') %>

<div class="col-xs-6 col-md-4">
  <!-- NOTE: Drink names apepar to already all be titleized. However putting this here to ensure just-in-case. -->
  <h4 class="drink"><%= drink[:name].titleize %></h4>

  <div class="drink-info">
    <% if drink[:image] %>
    <img src="<%= drink[:image] %>" alt="<%= drink[:name] %>">
    <% end %>

    <% display_hash.each do |key, value| %>
      <% next unless value %>
      <h5><%= "#{key.titleize}" %></h5>
      <p><%= "#{value}" %></p>
    <% end %>
  </div>
</div>

<% end %>

<a id="again" class="button text-uppercase" href="#">I Want To Do It Again! Start Over!</a>
