<h2>Intelligent Design</h2>

<div id="selection">

  <div class="alert alert-warning hidden">
    <h4></h4>
    <p></p>
  </div>

<% groups = @ingredients.group_by(&:group).sort_by { |group, array| group.nil? ? 'Ungrouped' : group.name.titleize } %>

  <div class="clearfix">
<% groups.each do |group, array| %>
    <div class="group col-xs-6 col-md-4">
      <h4><%= group.nil? ? 'Ungrouped' : group.name.titleize %></h4>
      <div class="ingredients">
      <% array.compact.each do |ing| %>
        <input type="checkbox" value="<%= ing.id %>" id="ingredient_<%= ing.id %>" <%= 'checked' if saved_ingredient? ing.id %> />
        <%= label_tag("ingredient_#{ing.id}", ing.name.titleize) %>
        <br>
      <% end %>
      </div>
    </div>
<% end %>
  </div>

  <a id="let-there-be-drinks" class="button text-uppercase" href="#">Let There Be Drinks!</a>
</div>

<div id="drinks"></div>
